# 2. Python Fundamentals I: 

Data Types,  Data Structures, and Control Flow

## Data Types

### Fundamentals
There are several fundamental types of objects in python:
* `bool`: with values True and False
* `str`: for alphanumeric text like "Hello world"
* `int`: for integers like 1, 42, and -5
* `float`: for floating point numbers like 96.8

### Containers 

There are several types of 'continers' which can store multiple values of the previous data types: 
* `list`: a mutable ordered list of data values
* `tuple`: an immutable, unordered list of data values
* `set`: an unordered mutable collection of unique data values
* `dict`: a hash map which permits lookup on the basis of keys and values

We will explore each of these data types and containers in this module. 

### Checking Types with the `type()` function

We can check the type of any python object by issuing the `type()` command and inspecting the output

### Casting

We can convert between objects by calling one of data types with a python object in parenthesis. For example:

In [1]:
my_var = 42
print(my_var)
print(type(my_var))
my_string_var = str(my_var)
print(my_string_var)
print(type(my_string_var))

# Notice that the `int` and `str` data types print identical values on the command line!

42
<class 'int'>
42
<class 'str'>

## Strings

Strings are a very important data type in all languages. In Python, strings may be quoted several ways:

### Construction

In [2]:
output_file = 'output.txt'
triplequotes = """woah! strings can
split lines """
print(triplequotes) # Split onto multiple lines; newline char embedded.

woah! strings can
split lines

Equivalently, with single quotes:

In [3]:
trip_single_quotes = '''I am a string too.
I can span multiple lines!'''
print(trip_single_quotes)

I am a string too.
I can span multiple lines!

#### Quotes in strings

We construct strings using either single quotes (`'this is a string'`), double quotes (`"this is also a string"`) or triple quotes (`'''yet another string!'''`). Sometimes, we will want to include quotes in a string (say, a paragraph of text with some apostrophes). If the same type of quote that is used to define the string is used within the string, the interpreter will think that is the end of the string:

In [4]:
print('defining a string with a contraction such as you're')

SyntaxError: unterminated string literal (detected at line 1) (2059763243.py, line 1)

We can fix this by mixing quotes:

In [5]:
print("defining a string with a contraction such as you're")

defining a string with a contraction such as you're

Alternatively, we can escape the quote with a backslash, i.e. a `\`:

In [6]:
print('defining a string with a contraction such as you\'re')

defining a string with a contraction such as you're

We recommend using double quotes `" "` to be consistent with [PEP8 style](https://peps.python.org/pep-0008/)

### String methods

There are several built in python methods which operate on strings, and can make manipulating strings much simpler and easier. 

#### Slicing / Indexing

We can access any singular character, within a string through 'slicing', also sometimes called 'indexing', by placing square brackets after a variable name:

In [7]:
string_to_index = 'this is a string that will be indexed'
string_to_index[0:4]

'this'

In this command, we select all values between the 0th index and the 4th index (non - inclusive). This means we are accessing the characters 'this' in the example above, the 0th, 1st, 2nd, and 3rd characters. 

The `:` tells the computer to select values starting at one index and ending at another. We can also access any individual character:

In [8]:
another_string = "here's another string to index~"
print(another_string[0])
print(another_string[1])
print(another_string[2])
print(another_string[3])

h
e
r
e

You may have observed a very important characteristic here: **python is zero indexed** meaning that the first value in a string is given the zero index: 

Let's play around with some other indexing commands to get the hang of it:

In [9]:
string_to_index = 'this is a string that will be indexed'
print(string_to_index[5:])
print(string_to_index[5:20])
print(string_to_index[-10:])

is a string that will be indexed
is a string tha
be indexed

Note that when slicing, we do not have to supply the 0th or last index, python is able to figure out the start / end indices automatically. The following returns every character in the string, beginning with the 5th character:

In [10]:
string_to_index[5:]

'is a string that will be indexed'

Note that we can also use negative indices, which count backwards from the end of the string. The following returns every character in the string, beginning with the 10th character from the end:

In [11]:
print(string_to_index[-10:])

be indexed

The following diagram summarizes python string indexing and slicing for an example string `'Python'`:

![str_idx](img/2-str-index.png)

#### Strings are immutable!

While we can access any individual character of a string, we cannot ever directly change characters:

In [12]:
string_to_index[10] = 'a'

TypeError: 'str' object does not support item assignment

### String functions

There are several handy built-in string functions that make manipulating data in strings easier: 
* Concatenate strings: `+`
* Split strings based on substring: `split('substr')`
* Find substring: `find('substr')`
* Replace substring with another substring `replace('substr1','substr2')`

1. **Combining strings (AKA concatennation):** Strings can be concatennated using the `+` sign:

In [13]:
'some string ' + 'another string'

'some string another string'

note that we had to include a trailing space on `some string ` in order to produce a concatennated string with spaces - the spaces are not added automatically. 

2. **Splitting strings**: strings can easily be separated based on a character using the `split()` function:

In [14]:
'we will split this string into pieces'.split("p")

['we will s', 'lit this string into ', 'ieces']

This returns 3 separate strings, which are broken out by wherever `p` occurs in the substring.

Strings can also be separated by a sequence of characters

In [15]:
'we will split um this other string um on the basis um of where the um words occur'.split('um')

['we will split ',
 ' this other string ',
 ' on the basis ',
 ' of where the ',
 ' words occur']

3. **Finding the first index where a character appears in a string** with the `find()` function:

In [16]:
'here is a test string for which we will find the first ooccurrence of the letter i'.find('i')

5

4. **Replacing characters appearing in a strings** with the `replace()` function:

In [17]:
'here is a test string for which we will replace ooccurrence of one letter with another'.replace('i','j')

'here js a test strjng for whjch we wjll replace ooccurrence of one letter wjth another'

In [18]:
'this also works for full words and phrases, pretty neat, huh?'.replace('neat','swell')

'this also works for full words and phrases, pretty swell, huh?'

The `len()` function returns the number of characters in the string

In [19]:
test_str = "use len() to count the number of chars in this string"
len(test_str)

53

It's easy to convert strings between upper and lower case with the `string.upper()` and `string.lower()` methods"

In [20]:
test_str = "AlTeRnAtInG cAsEs"
print(test_str.lower()) # Converts all chars to lowercase
print(test_str.upper()) # Converts all chars to uppercase

alternating cases
ALTERNATING CASES

### String formatting

It's often convenient to  create strings formatted from a combination of strings, numbers, and other data. In Python 3 this can be handled in two ways: the format string method. E.g.:

In [21]:
name = "Aakash"
course = "py4wrds"
# Prints: My name is Andreas. I am the instructor for CME211.
print("My name is {0}. I am an instructor for {1}.".format(name,course))

My name is Aakash. I am an instructor for py4wrds.

Format strings contain “replacement fields” surrounded by curly braces `{}`. Anything that is not contained in braces is considered literal text, which is copied unchanged to the output. 

If you need to include a brace character in the literal text, it can be escaped by doubling the braces: i.e. use {{ and }}. The number in the braces refers to the order of arguments passed to format. 

Numbers don’t need to be specified if the sequence of braces has the same order as arguments:

In [22]:
course = 'py4wrds'
number_of_students = 25
print("this course is {}, and {} students are in attendance".format(course ,number_of_students))

this course is py4wrds, and 25 students are in attendance

Another way to handle string formatting is with F-strings, where variable names can be inserted directly into the curly braces

In [23]:
import math
r = 4
print(f"The area of a circle of radius {r} is {math.pi * math.pow(r, 2)}")

The area of a circle of radius 4 is 50.26548245743669

To summarize, string formatting is a good way to combine text and numeric data. It’s also how we control the output of floating point numbers:

In [24]:
# Fixed point precision (always uses six significant decimal digits).
print(" {{:f}}: {:f}".format(42.42)) # Prints 42.40000
# General format (knows how to drop trailing zeros in decimals).
print(" {{:g}}: {:g}".format(42.42)) # Prints 42.42
# Exponent (scientific) notation.
print(" {{:e}}: {:e}".format(42.42)) # Prints 4.242000e+01

# We can also specify how many digits of precision we want.
print(" {{:.2e}}: {:.2e}".format(42.42)) # Prints 4.24e+01.

# Or we can specify the width of our output (excluding +/- signs).
print("{{: 8.2e}}: {: 8.2e}".format(42.42)) # Prints total of 8 chars: 4.24e+01
print("{{: 8.2e}}: {: 8.2e}".format(-1.0)) # Prints -1.00e+00

 {:f}: 42.420000
 {:g}: 42.42
 {:e}: 4.242000e+01
 {:.2e}: 4.24e+01
{: 8.2e}:  4.24e+01
{: 8.2e}: -1.00e+00

## Numbers

Recall that numbers in python are represented by the `int` and `float` types. We can perform all standard numerical operations: 

* `x + y` : sum of `x` and `y`
* `x - y` : differenceof `x` and `y`
* `x * y` : productof `x` and `y`
* `x / y` : quotientof `x` and `y`
* `x//y` : floored quotient of x and y
* `x % y` : remainderof `x` / `y`
* `-x` : `x` negated
* `+x` : `x` unchanged
* `abs(x)` : absolute value (i.e. magnitude)
* `int(x)` : `x` converted to integer
* `float(x)` : `x` converted to floating point
* `x ** y` : `x` tothepower `y`

A full list of numerical operations can be found in the [official python documentation](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex)

### Complex Numbers
Python supports complex numbers, with the character `j` denoting the imaginary part:

In [25]:
complex_num = 3 + 4j

The real and imaginary parts can be accessed by using `.real` and `.imag` synyax

In [26]:
print(complex_num.real)
print(complex_num.imag)

3.0
4.0

### Numerical Conversions
Python will automatically convert between numerical types of when performing operations:

In [27]:
float_num = 3.4
int_num = 2
print(float_num + int_num)

5.4

Notice that the **integer** in the operation was converted to a **float** type automatically before performing the calculation. This is known as **widening** 

The same type of **widening** occurs when combining floats/ints with complex numbers:

In [28]:
print(float_num * complex_num)
print(int_num * complex_num)

(10.2+13.6j)
(6+8j)

In python, converting between `float` and `int` types is also easy:

In [29]:
float_num = 2.7
x = int(float_num)
print(type(x))

<class 'int'>

Notice that floats converted to ints are automatically **rounded towards zero** :

In [30]:
print(x)

2

We can observe this to be true by testing a negative number:

In [31]:
x = -3.8
int(x)

-3

### Converting numbers to/from strings

Python makes it simple to convert numbers to/from strings. This is especially useful when reading data from a text file:

In [32]:
string_num = '234'
print(int(string_num))
print(type(int(string_num)))

234
<class 'int'>

In [33]:
string_num = '234'
print(float(string_num))
print(type(float(string_num)))

234.0
<class 'float'>

Simiarly, it's simple to convert from a numerical type to a string, using the `str()` constructor`

In [34]:
float_num = 25.
print(str(float_num))
print(type(str(float_num)))

25.0
<class 'str'>

Note that attempting to concatenate a string with a numerical type will yield an error:

In [35]:
print('stringy string string ' + 58)

TypeError: can only concatenate str (not "int") to str

This is best handled using F-strings or string formatting:

In [36]:
my_int = 456
print(f'stringy string string {58} with fstrings {my_int} ')

stringy string string 58 with fstrings 456

### Booleans 

A **Boolean** or **Bool** for short, is simply a value of `True` or `False`. You've probably heard of these if you have doen any programming. 

Booleans are useful for checking data types, and lots of other things we'll cover later. 

For now, consider the following examples:

In [37]:
my_int_var = 42
type(my_int_var) is int

True

In [38]:
my_int_var = 42
type(my_int_var) is float

False

Notice we are usint the word `is` here to check whether the variable is an `int` type or a `float` type

We can also string together multiple statements using the following **Boolean Operators** : `and`, `or`, `not`

In [39]:
my_int_var = 42
my_float_var = 42.

# Returns True
type(my_int_var) is int and type(my_float_var) is float

True

In [40]:
# Returns False
type(my_int_var) is int and type(my_int_var) is float

False

In [41]:
# Returns True
print(type(my_int_var) is int or type(my_int_var) is float)

True

In [42]:
# Returns True
type(my_int_var) is not float

True

In [43]:
# Returns False
type(my_int_var) is not int

False

These operators can be combined to form complex expressions and improve the readability and robustness of python programs. We will use these operators and revisit boolean logic througout this course.

## If / Else Statements 
Perhaps the most well-known concept in programming is that of an `if` statement. 
The `if` statement is used for conditional execution:

In [44]:
# Try changing the value of `my_value` to get a sense for the `if`, `elif`, and `else` logic. 
my_value = 10

if my_value > 0: # If this expression evaluates to True, the following line will be printed. 
# If it evaluates to False, we move to the 'elif' statement 
    print("value is positive")
elif my_value == 0: # If this expression evaluates to True, the following line will be printed. 
# If it evaluates to False, we move to the 'else' statement 
    print("value is zero")
else:
    print("value is negative")

value is positive

There can be zero or more `elif:` parts, and the `else:` part is optional. 

The keyword `elif` is short for ‘else if’, and is useful to avoid excessive indentation. 

An `if` ... `elif` ... `elif` ... sequence is a substitute for the `switch` or `case` statements found in other languages. See [Switch Statement](https://en.wikipedia.org/wiki/Switch_statement) for more info.

## Lists

**Lists** are the most important and common data type in Python. A list is simply an ordered collection of items. Think of a vector in mathematics, or a grocery list of items to be purchased. In python, we can create lists using the square brackets `[ ]`:

In [45]:
list_a = [1,2,3,4,5]
print(list_a)
list_b = ['a','b','c','d','e']
print(list_b)

[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd', 'e']

A list can be comprised of any data type, or multiple data types:

In [46]:
list_of_many_types = ["a", 2, False, 4, "am I a list, or an element?", 17.5, True]
print(list_of_many_types)

['a', 2, False, 4, 'am I a list, or an element?', 17.5, True]

Each item in a list is called an **element** 

We can call the `len()` operator to determine the number of elements in a list:

In [47]:
len(list_of_many_types)

7

### Accessing elements in lists

We can access any element of a list using the same style of indexing used to access characters in strings (square brackets after the variable name).

Remember - the first element in a list is index 0:

In [48]:
print(list_of_many_types[0])
print(list_of_many_types[1])
print(list_of_many_types[2])
print(list_of_many_types[4])

a
2
False
am I a list, or an element?

We can also index lists negatively, similar to how we were able to access characters in strings:

In [49]:
print(list_of_many_types[-1])
print(list_of_many_types[-2])

True
17.5

### Slicing
We can access a subset of a list using **Slicing** in the same way that we are able to access substrings:

In [50]:
list_of_many_types = ["a", 2, False, 4, "am I a list, or an element?", 17.5, True]
list_of_many_types[2:5]

[False, 4, 'am I a list, or an element?']

We call the `[2:5]` a **slice**, which also returns a list of with elements at positions 2,3, and 4 in the original list. 

We can also slice to presesrve the start or end of the list, by keeping one side of the colon blank:

In [51]:
# Start with third element, go to end. 
print(list_of_many_types[2:]) 

# Extract elements indexed at positions 0, 1, and 2.
list_of_many_types[:3]

[False, 4, 'am I a list, or an element?', 17.5, True]

['a', 2, False]

Let's say we want to slice a list and select every `k`th entry - we can add an extra set of parantheses to the slicing syntax to set the 'step':

In [52]:
list_of_squares =[1,4,9,16,25,36,49,64,81]
# slice the list starting at 2nd element, ending at 9th element, selecting every 3rd element
list_of_squares[1:9:3]

[4, 25, 64]

### List operations
The `+` operator combines lists. This is also called concatenation.

In [53]:
list_one = ['a',4,'one',3.4]
list_two = ['b',6,'two',7.8]
print(list_one + list_two)

['a', 4, 'one', 3.4, 'b', 6, 'two', 7.8]

The `*` operator can be used to repeat lists:

In [54]:
list_one * 2

['a', 4, 'one', 3.4, 'a', 4, 'one', 3.4]

In [55]:
2 * list_two

['b', 6, 'two', 7.8, 'b', 6, 'two', 7.8]

### Lists are mutable

Lists can be modified 'in place', meaning that individual elements can be changed

In [56]:
list_one = ['a',4,'one',3.4]
print(list_one)

['a', 4, 'one', 3.4]

In [57]:
# assign a new value to index -1, i.e. replace float 3.4 with string "last element"
list_one[-1] = 'last element'
print(list_one)

['a', 4, 'one', 'last element']

We can also assign slices:

In [58]:
list_one[1:3] = [2,3]
print(list_one)

['a', 2, 3, 'last element']

### Copying lists 

Let’s attempt to copy a list referenced by variable `a` to another variable `b`:

In [59]:
a = ['a','b', 'c'] # define list a
b = a # attempt to copy a to b
b[1] = 1 # changing an element in list b
print(b) # confirming the change was made to the second element in list b
print(a) # but HOLD UP! we also modified the second element in list a !

['a', 1, 'c']
['a', 1, 'c']

This is very interesting - we modified list b, but that caused list a to change. 

Let's try another way to copy the list:

In [60]:
a = ['a', 'b', 'c']
b = a #first attempt to copy a to b
c = list(a) # second attempt to copy a to c using the list constructor
d = a[:]

b[1] = 1 # now we want to change an element in b

print("a: ", a) # list 'a' got modified (unintentionally).
print("b: ", b) # list 'b' of course got modified (intentionally).
print("c: ", c) # list 'c' got preserved, success!
print("d: ", d) # list 'd' got preserved, another success!

a:  ['a', 1, 'c']
b:  ['a', 1, 'c']
c:  ['a', 'b', 'c']
d:  ['a', 'b', 'c']

What do we observe?  A list can be copied with b = list(a) or b = a[:]. 
The second option is a slice including all elements! Why does python work this way?

### Python's data model

Why do we observe the behavior in the previous example? 
* **Variables in Python are references to objects in memory.**
* **Assignment with the = operator sets the variable to refer to an object.**

Here is a simple example:

In [61]:
a = [1,2,3,4]
b = a
b[1] = 'modified'
print(a)
print(b)

[1, 'modified', 3, 4]
[1, 'modified', 3, 4]

Notice that list `a` and list `b` are identical - In this example, we assigned `a` to `b` via `b = a`. 

**This did not copy the data**, it only copied the **reference to the list object in memory**. 

Thus, modifying the list through object `b` also changes the data that you will see when accessing object `a`. 

We can inspect the memory addresses in Python with the `id` command:

In [62]:
print("id(a): ", id(a)) # These two variables...
print("id(b): ", id(b)) # ...both refer to the same object.

id(a):  4361720448
id(b):  4361720448

Those numbers refer to memory addresses on the computer.

### Copying objects and data

So how do we copy objects and data generally, without having to call the appropriate constructor every time?

The `copy` function in the `copy` module is a generic way to copy a list:

In [63]:
import copy

In [64]:
a = [1,2,3,'abc']
b = copy.copy(a)
b[3] = 'xyz'
print(b) # Variable b has its last element replaced.
print(a) # Variabla a is unchanged, like we hoped.

[1, 2, 3, 'xyz']
[1, 2, 3, 'abc']

Elements in a list (the individual items) are also references to memory location. For example if your list contains a list, this will happen when using copy.copy():

In [65]:
sublist = [1,2,3]
a = [2, 'string', sublist]
b = copy.copy(a)
b[2][0] = 5555
print(b) # We modified the nested list...
print(a) # ...which also affected the contents of variable 'a'.

[2, 'string', [5555, 2, 3]]
[2, 'string', [5555, 2, 3]]

What just happened? The element for the sub-list [5555, 2, 3] is actually a memory reference - when we copy the outer list, only references for the contained objects are copied. Therefore, modifying the copy `b` modifies the original `a`. Thus, we may need the function `copy.deepcopy()`:

In [66]:
sublist = [1,2,3]
a = [2, 'string', sublist]
b = copy.deepcopy(a)
b[2][0] = 5555
print(b) # Variable b had its third element modified.
print(a) # But we can observe here that variable a is unchanged

[2, 'string', [5555, 2, 3]]
[2, 'string', [1, 2, 3]]

### Sorting lists 

Sorting lists in python is easy and can be very useful for lots of reasons.

In [67]:
my_list = list(range(10))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
import random
random.shuffle(my_list)
print(my_list)

[5, 3, 0, 1, 8, 9, 6, 7, 4, 2]

The command `random.shuffle` sorts the list in place, meaning the original list is modified. If we want to create a new list that is sorted, we can use the `sorted` function:

In [69]:
my_sorted_list = sorted(my_list)
print(my_sorted_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

we can also sort in place using the `.sort()` function:

In [70]:
my_list.sort()
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### List operations

The following is a summary of operations that can be performed on lists: 

**`x` refers to an element, `s` refers to a list, and `n` refers to any integer**

* `x in s`: returns `True` if an item of `s` is equal to `x`, else `False`
* `x not in s`: returns False if an item of `s` is equal to `x`, else `True`
* `s + t`, where `t` is another list: the concatenation of `s` and `t`.
* `s * n` or `n * s`: equivalent to adding `s` to itself `n` times
* `s[i]`: `i`th item of `s`, with start index of 0
* `s[i:j]`: slice of `s` from index `i` to `j`
* `s[i:j:k]`: slice of `s` from index `i` to index `j` with step `k`
* `len(s)`: length of `s`
* `min(s)`: smallest item of `s`
* `max(s)`: largest item of `s`
* `s.index(x)`: index of the first occurrence of `x` in `s`
* `s.count(x)`: total number of occurrences of `x` in `s`
* `s[i] = x`: assign element with index `i` in list `s` a new value of `x`

In the examples below, **`x` refers to an element, `s` refers to a list, and `t` refers to another list**

* `s[i:j] = t`: slice of `s` from `i` to `j` is replaced by the contents of another list `t`
* `del s[i:j]`: remove elements between index `i` and `j` from `s`
* `s[i:j] = []`: remove elements between index `i` and `j` from `s`
* `s[i:j:k] = t`: the elements of `s[i:j:k]` are replaced by those of another list `t`
* `del s[i:j:k]`: removes the elements of `s[i:j:k]` from the list `s`
* `s.append(x)`: appends `x` to the end of the existing list `s`
* `s.clear()`: removes all items from `s` (equivalent to `del s[:]`)
* `s.copy()`: creates a shallow copy of `s` (equivalent to `s[:]`)
* `s.extend(t)` or `s += t`: extends `s` with the contents of t (for the most part the same as `s[len(s):len(s)] = t`)
* `s *= n`: updates `s` with its contents repeated `n` times
* `s.insert(i, x)`: inserts `x` into `s` at the index given by `i` (equivalent to `s[i:i] = [x]`)
* `s.pop([i])`: retrieves the item at `i` and also removes it from `s`
* `s.remove(x)`: remove the first item from `s` where `s[i] == x`
* `s.reverse()`: reverses the items of `s` in place
* `s.sort()`: sorts the items of `s` in place

**Lists** are the most important and common data type in Python, so understanding their construction and manipulation is important. 

The following are helpful resources about lists:
* [Python tutorial on lists](https://docs.python.org/3/tutorial/introduction.html#lists)
* [Python reference section on sequences](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range)
* Python documentation, accessible by executing the command `help(list)`

In [71]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## For loops and while loops

**Loops** are another foundational concept in python programming. They are useful for repeating actions. 

There are two types of loops: `for` and `while`.

Let's say we want to compute the square of each integer between 1 and 8. We can use a `for` loop to make this much more efficient than computing each square individually:

In [72]:
for i in range(9):
    print(i**2)

0
1
4
9
16
25
36
49
64

the syntax `for i in range(n):` will execute the indented code `print (i**2)` a total of `n` times, with `i = 0, 1, 2, ... n-1`

#### An important note on python syntax

Indents in python code matter, unlike in C, C++, or Java. Indents are actually a form of syntax in python. 

Python requires indenting loops and conditionals (we will get to these a bit later). Indenting can be achieved using either **one <kbd>TAB</kbd>** or **four <kbd>SPACEBAR</kbd>** keystrokes. There is a lively debate over which of these is preferred. Text editors now make it easy to switch between tabs an spaces - the important thing is to remain consistent.

### The `range()` function

Let's say you want to make a list of numbers - the `range()` function is a handy and convenient way to do that. We can convert a `range()` object to a python list by using the `list()` constructor:

In [73]:
# Get a range 0,1,2,...,7
print(list(range(8)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [74]:
# Get a range from 5 to 9
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [75]:
# Get a range from 4 to 16 with a step of 4
print(list(range(4,16,4)))

[4, 8, 12]

### For loops and Lists

We can use a for loop to iterate over items in a list:

In [76]:
my_list = [1, 41.99, True, "this is a string", ["sub", "list", "of", "strings"]]
for item in my_list:
    print(item)

1
41.99
True
this is a string
['sub', 'list', 'of', 'strings']

#### The `enumerate()` function

When iterating through a for loop, if we want to access the index of each item in the list, along with the item, we can use the `enumerate()` function:

In [77]:
my_list = [1, 41.99, True, "this is a string", ["sub", "list", "of", "strings"]]
for index,item in enumerate(my_list):
    print("index {}: {}".format(index, item))

index 0: 1
index 1: 41.99
index 2: True
index 3: this is a string
index 4: ['sub', 'list', 'of', 'strings']

### While loops

If we don't know how many iterations are needed, we can use a `while` loop:

In [78]:
i = 2
while i < 100: # loop body will only execute if conditional statement is True
    print(i**2,end=", ") 
    i = i**2

4, 16, 256,

This loop prints the values of $i^2$ and updates the value of $i$, while i is <100. Notice the loop stops since 256 > 100

### The infinite loop

Beware the infamous infinite loop! Consider the following example, where the condition will never become false:

**NOTE** to stop this, you will have to press <kbd>CTRL</kbd> + <kbd>c</kbd> in the interpreter, or the "STOP" button in jupyter lab / notebook

In [79]:
# Uncomment the below lines to run, but beware that this code will execute forever unless stopped. 
# while True:
    # print("infinite loop")

### Nested loops

We can  put loops within loops - these are called 'nested loops'

Consider the following example:

In [80]:
for i in range (8): # outer loop
    for j in range (i): # inner loop
        print(j, end = " ") # inner loop body 
    print(' ') # outer loop body

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5
0 1 2 3 4 5 6

#### Continue and Break

We can exit a loop, or move to the next iteration if desired. 

* `break` is used to exit the loop immediately, skipping any remaining iterations.
* `continue` is used to skip the current iteration and move to the next one.

In [81]:
# Using break to find prime numbers
max_n = 10

for n in range(2, max_n):
    for x in range(2, n):
        if n % x == 0: # modulo of n divisible by x is zero
            print(n, 'equals', x, '*', n/x)
            break
    else: # executed if no break in for loop
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2.0
5 is a prime number
6 equals 2 * 3.0
7 is a prime number
8 equals 2 * 4.0
9 equals 3 * 3.0

In [82]:
# Using continue to skip even numbners
for num in range(10): 
    if num % 2 == 0:  # Skip even numbers
        continue
    print(num)

1
3
5
7
9

#### An(other) note on loop syntax best practices 

It is bad practice to define a variable inside of a conditional or loop body and then reference it outside:

In [83]:
name = "Nick"
if name == "Nick":
    age = 45 # newly created variable 

print("Nick's age is {}".format(age))

Nick's age is 45

In [84]:
name = "Bob"
if name == "Nick":
    id_number = 45 # also newly created variable

print("{}'s id number is {}".format(name, id_number))
# NameError: name 'id_number' is not defined

NameError: name 'id_number' is not defined

Good practice is to define/initialize variables at the same level they will be used:

In [85]:
name = "Bob"
age = 55 
if name == "Nick": 
    age = 45 

print(f"{name}'s age is {age}")

Bob's age is 55

### Tuples

Tuples are essentially **immutable** lists, meaning they cannot be modified. Elements in a list can be heterogenous.

Use Case: 
* You have a set of (possibly non-unique or heterogeneous) data that you wish to remain ordered and immutable for the lifetime of the object.
* E.g. we may expect that a person’s name should be invariant over the course of a peron’s lifetime, and therefore may choose to represent first and last names via a length-two tuple.

#### Tuples are denoted by parantheses: `tup = (1,2,3)`.
* Create an empty tuple: `empty_tup = ()`, or equivalently `empty_tup = tuple()`.
* Create a tuple with some data: `tup = (42, 3.14, "abc")`.

Values within tuples can be of any type.

#### Properties of Tuples 

* **Immutability** - The number of items in a tuple, or what those fixed number of items reference, are not allowed to change after creation. Put differently, the size and type signature of a tuple are fixed at the time of creation.
* **Order matters**, and is defined at construction time - Since tuples are immutable, their elements are ordered. We can access items via indexing and slicing, similar to lists.

#### Similrities with Lists: Indexing, Slicing, and Looping

In [86]:
my_tuple = (1, 2, 3, 4)
print(my_tuple[1]) # Prints the second value
print(my_tuple[1:3]) # Prints the second and third values

2
(2, 3)

Similar to lists, we can also loop through tuples:

In [87]:
for element in my_tuple:
    print(element)

1
2
3
4

#### Immutability:

In [88]:
# Lists are mutable
my_list = ["I", "am", "a", "list"]
my_list[0] = "I still" # Modifying elements of a list is OK.
print("my_list:", my_list) # --> my_list: ["I still", "am", "a", "list"].

# Tuples are not mutable (immutable) 
my_tuple = ("I", "am", "a", "tuple")
my_tuple[2] = "still a"

my_list: ['I still', 'am', 'a', 'list']

TypeError: 'tuple' object does not support item assignment

However, keep in mind that if a tuple contains a list element, that can be modified, since lists ARE mutable:

In [89]:
my_tuple = ("I", "am", "a", "tuple", ['containing','a','sub','list'])
my_tuple[4][1] = 'a mutable'
print(my_tuple)

('I', 'am', 'a', 'tuple', ['containing', 'a mutable', 'sub', 'list'])

#### Unpacking Tuples

Python offers a convenient way to "unpack" tuples. 

In tuple unpacking, we can store the elements of a tuple into multiple variables in one line of code:

In [90]:
# Define tuple, and unpack into 3 variables 
my_tuple = ("a string", 43, 99.9)
my_str , my_int , my_flt = my_tuple

print(my_str, my_int, my_flt)

# Equivalently:
my_str = my_tuple[0]
my_int = my_tuple[1]
my_flt = my_tuple[2]

print(my_str, my_int, my_flt)

a string 43 99.9
a string 43 99.9

## Sets 

In Python, a set is an unordered, mutable collection of **unique items**. 
Use Case: Checking for Existence of Usernames

* We care about existence, and not duplicity;
* testing for existence is “fast”. E.g. When a new-user signs up for a service, we want to check if their proposed username is available instantly.

Sets are constructed with curly braces: `my_set = {5, 8, "str", 49.2}`, or with the `set()` constructor: `my_set = set([1, 2, 3])`

We can add items to a set with the `.add()` method

In [91]:
# create and update using add method
myclasses = set()
myclasses.add("math")
myclasses.add("chemistry")
myclasses.add("literature")

# create using {} notation
yourclasses = {"physics", "gym", "math"}

#### Set Operations

We can easily compute the **[Union](https://en.wikipedia.org/wiki/Union_(set_theory))** or the **[Intersection](https://en.wikipedia.org/wiki/Intersection_(set_theory))** between multiple sets, using the `&` and `|` characters respectively:

In [92]:
print(myclasses & yourclasses) # Returns only elements in  either myclasses AND yourclasses
print(myclasses | yourclasses) # Returns elements found in either myclasses OR yourclasses

{'math'}
{'math', 'literature', 'gym', 'chemistry', 'physics'}

#### Example: finding unique elements in a list: 

Say we have a 'shopping basket' with lots of (non unique) items, we can use `set()` to identify the unique elements:

In [93]:
grocery_list = ['apples', 'bananas', 'yogurt', 'apples','milk','bananas', 'yogurt', 'granola', 'bread']
print(set(grocery_list))

{'yogurt', 'bread', 'milk', 'granola', 'bananas', 'apples'}

#### Set Methods

we saw that we could append an element to a set with the `.add()` method. There are many other useful operations, such as `.remove()`,`.intersection()`,`.difference()`, etc... Have a look at the [official documentation](https://docs.python.org/3/tutorial/datastructures.html#sets) for a comprehensive list. 

Or, simply type `help(set)` into the python interpreter.

## Dictionaries

Dictionaries relate a `key` to a `value`. 

Think of a real-world dictionary of word definitions. **They unique `key` is a word, the `value` associated with the key is the definition of the word**. 

In Python, this is represented with the built-in `dict` or Dictionary type. 

They are commonly called 'maps', 'hashes', 'key-value pairs', and ['associative arrays'](https://en.wikipedia.org/wiki/Associative_array), in other programming languages and in mathematics. 

#### Example use case: Phone book / cell phone contacts: 

You want to repeatedly “look up” values that are associated with identifiers. E.g. your contacts list, which might pair a name (the `key`) with a phone-number (the `value`). Want to look up a friends phone number? Just type their name (the `key`) and you get their phone number (the `value`) instantly.

##### Dictionary Syntax: 
* Dictionaries can be created using curly braces `{}`, or with the `dict()` constructor:
* Create an empty dictionary: `empty_dict = {}`, or equivalently, `empty_dict = dict{}`
* Create a dictionary with data: `emails={'aakash':'aaahamed@calpoly.edu', 'andrew':'ajnisbet@gmail.com'}`

**Keys** must be immutable - e.g. numbers, strings, or tuples 

**Values** can be any python data type - e.g. lists, strings, or even other dictionaries

**Access** we can access values associated with a key with square brackets: `value = dictionary[key]`

In [94]:
# One example to initialize and populate a dictionary
emails={}
emails['aakash'] = 'aaahamed@calpoly.edu'
emails['andrew'] = 'andrew@ajnisbet.com'
print(emails)

{'aakash': 'aaahamed@calpoly.edu', 'andrew': 'andrew@ajnisbet.com'}

In [95]:
# Another equivalent example to initialize a dictionary
emails={'aakash':'aaahamed@calpoly.edu', 'andrew':'ajnisbet@gmail.com'}
print(emails)

{'aakash': 'aaahamed@calpoly.edu', 'andrew': 'ajnisbet@gmail.com'}

In [96]:
# Another equivalent example to initialize and populate a dictionary
emails=dict()
emails['aakash'] = 'aaahamed@calpoly.edu'
emails['andrew'] = 'ajnisbet@gmail.com'
print(emails)

{'aakash': 'aaahamed@calpoly.edu', 'andrew': 'ajnisbet@gmail.com'}

We can easily access a single element of a dictionary by using bracket notation, and placing the key inside the brackets:

In [97]:
emails['andrew']

'ajnisbet@gmail.com'

Equivalently, we can access a value using the `.get(key)` syntax:

In [98]:
emails.get('andrew')

'ajnisbet@gmail.com'

If the key is not contained within our `dict`, we receive a `KeyError`

In [99]:
emails['payman']

KeyError: 'payman'

Let's walk through a more comprehensive example to illustrate some of the usefulness of dictionaries:

In [100]:
# Initialize an empty dictionary
movie_years = {} # Equivalently: movie_years = dict()
# Populate dictionary with movie names (keys) and release years (values) 
movie_years["Fargo"] = 1996
movie_years["Fellowship of the Ring"] = 2001
movie_years["The Departed"] = 2006
movie_years["Godfather Part 1"] = 1972
movie_years["Dune"] = 2021
movie_years["Monty Python and the Holy Grail"] = 1975
movie_years["2001 a Space Odyssey"] = 1968
movie_years["A Clockwork Orange"] = 1972
print(movie_years)

{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968, 'A Clockwork Orange': 1972}

We can get determine the number of keys in the dictionary with the `len()` function:

In [101]:
len(movie_years)

8

**Dicts are mutable** - we can change the value associated with a key:

In [102]:
movie_years["Fargo"] = 2008
print(movie_years)
print("-----"*20)
movie_years["Fargo"] = 1996
print(movie_years)

{'Fargo': 2008, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968, 'A Clockwork Orange': 1972}
----------------------------------------------------------------------------------------------------
{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968, 'A Clockwork Orange': 1972}

**Dicts are mutable** - we can also delete a key:value pair if desired by using the `del` command and supplying the dict `key` to be deleted:

In [103]:
del movie_years["A Clockwork Orange"]
print(movie_years)

{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968}

#### Accessing Keys and Values

We can access the dictionary keys and values as a list if desired using the following syntax:

In [104]:
names = movie_years.keys()
print(names)
years = movie_years.values()
print(years)

dict_keys(['Fargo', 'Fellowship of the Ring', 'The Departed', 'Godfather Part 1', 'Dune', 'Monty Python and the Holy Grail', '2001 a Space Odyssey'])
dict_values([1996, 2001, 2006, 1972, 2021, 1975, 1968])

It's often convenient to convert these to python lists by using the list constructor:

In [105]:
names = list(movie_years.keys())
print(names)
print(type(names))
years = list(movie_years.values())
print(years)
print(type(years))

['Fargo', 'Fellowship of the Ring', 'The Departed', 'Godfather Part 1', 'Dune', 'Monty Python and the Holy Grail', '2001 a Space Odyssey']
<class 'list'>
[1996, 2001, 2006, 1972, 2021, 1975, 1968]
<class 'list'>

If we have two lists of the same length, and want to create a dictionary, using one list as keys, and the other list as values, we can use the `zip()` function within the `dict()` constructor to achieve this.

In [106]:
another_movie_year_dict = dict(zip(names,years))
print(another_movie_year_dict)

{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968}

#### Looping Through Dictionaries 

We can loop through the keys of a dictionary, similar to how we can loop through the elements of a list:

In [107]:
for movie in movie_years:
    print(movie)

Fargo
Fellowship of the Ring
The Departed
Godfather Part 1
Dune
Monty Python and the Holy Grail
2001 a Space Odyssey

We can also loop through the values:

In [108]:
for year in movie_years.values():
    print(year)

1996
2001
2006
1972
2021
1975
1968

If we want to loop through both the keys and values, we can use the `.items()` syntax:

In [109]:
for key,value in movie_years.items():
    print(f'{key} was released in {value}')

Fargo was released in 1996
Fellowship of the Ring was released in 2001
The Departed was released in 2006
Godfather Part 1 was released in 1972
Dune was released in 2021
Monty Python and the Holy Grail was released in 1975
2001 a Space Odyssey was released in 1968

#### Dictionaries are Unordered

**There is no order in a python dictionary**. When looping through keys, values, or both, there is no guarantee that items will appear in any given order. 

For example: if you observe a particular ordering when iterating over a fixed dictionary in a python interpreter, this ordering is not guaranteed to persist when the same dictionary is created in a new session.

#### Saving and Loading Dicts

It is often convenient to write and read dictionaries. This can be achieved easily using the `json` module (more on modules later). `.json` is also a file format that mirrors dictionary format.

In [110]:
import json

with open('movie_years.json', 'w') as fp:
    json.dump(movie_years, fp)

Notice that a file with the name `movie_years.json` was written to the directory where this command executed.

It is equally easy to load the file we wrote as a dictionary:

In [111]:
with open('movie_years.json','r') as f:
    my_other_movie_dict = json.load(f)

In [112]:
print(my_other_movie_dict)

{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968}

## Comprehensions 

Python has a special feature known as 'comprehensions', in which operations can be applied to each element in a container (list, dictionary, tuple, or set), without using a `for` loop. These expressions are very common in python code. 

All comprehensions can be equivalently expressed as `for` loops. The key thing to remember is that comprehensions can implement `for` loops in a more concise and compact syntax. While this may sometimes be convenient, it can also be less readable than a `for` loop. 

Consider our `movie_years` dictionary. Perhaps we want to increment each of the release years by one year and store the result in a dict called `movie_years_updated`. We can achieve this with a for loop:

In [113]:
movie_years_updated = {}

for k,v in movie_years.items():
    movie_years_updated[k] = v+1

print(movie_years)
print(movie_years_updated)

{'Fargo': 1996, 'Fellowship of the Ring': 2001, 'The Departed': 2006, 'Godfather Part 1': 1972, 'Dune': 2021, 'Monty Python and the Holy Grail': 1975, '2001 a Space Odyssey': 1968}
{'Fargo': 1997, 'Fellowship of the Ring': 2002, 'The Departed': 2007, 'Godfather Part 1': 1973, 'Dune': 2022, 'Monty Python and the Holy Grail': 1976, '2001 a Space Odyssey': 1969}

The same result can be achieved with a 'dictionary comprehension' with the following:

In [114]:
{k:v+1 for k,v in movie_years.items()}

{'Fargo': 1997,
 'Fellowship of the Ring': 2002,
 'The Departed': 2007,
 'Godfather Part 1': 1973,
 'Dune': 2022,
 'Monty Python and the Holy Grail': 1976,
 '2001 a Space Odyssey': 1969}

Notice that we use the curly braces `{}` to denote a dictionary result. We can ue the regular brackets `[]` to return a list:

In [115]:
[v+5 for v in movie_years.values()]

[2001, 2006, 2011, 1977, 2026, 1980, 1973]

## Reading and manipulating text files

Let's synthesize some of the materials we covered in this chapter, and use python tools to:
1. open a text file containing movie names and years, using `with open(filename):`
2. loop through the rows, extract the information we want using string operations, and store that information in a python object
3. write the resulting objects to a file


To open text files, we can use the `with open(filename):` syntax:

In [116]:
lines = []

with open('./data/movies.txt', 'r') as file: # the 'r' means read only
    lines = file.readlines() # read each line of the textfile into a list element
    file.close() # close the file

We now have each line of the textfile stored as an element in a list called `lines`. Let's loop through the list, and create a dictionary like `movie_years` that we can write to a `.json` file.

In [117]:
lines

['1,Toy Story (1995)\n',
 '2,Jumanji (1995)\n',
 '3,Grumpier Old Men (1995)\n',
 '4,Waiting to Exhale (1995)\n',
 '5,Father of the Bride Part II (1995)\n',
 '6,Heat (1995)\n',
 '7,Sabrina (1995)\n',
 '8,Tom and Huck (1995)\n',
 '9,Sudden Death (1995)\n',
 '10,GoldenEye (1995)\n',
 '11,American President  The (1995)\n',
 '12,Dracula: Dead and Loving It (1995)\n',
 '13,Balto (1995)\n',
 '14,Nixon (1995)\n',
 '15,Cutthroat Island (1995)\n',
 '16,Casino (1995)\n',
 '17,Sense and Sensibility (1995)\n',
 '18,Four Rooms (1995)\n',
 '19,Ace Ventura: When Nature Calls (1995)\n',
 '20,Money Train (1995)\n',
 '21,Get Shorty (1995)\n',
 '22,Copycat (1995)\n',
 '23,Assassins (1995)\n',
 '24,Powder (1995)\n',
 '25,Leaving Las Vegas (1995)\n',
 '26,Othello (1995)\n',
 '27,Now and Then (1995)\n',
 '28,Persuasion (1995)\n',
 '29,City of Lost Children  The (CitÌ© des enfants perdus  La) (1995)\n',
 '30,Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)\n',
 '31,Dangerous Minds (1995)\n',
 '32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995)\n',
 '34,Babe (1995)\n',
 '35,Carrington (1995)\n',
 '36,Dead Man Walking (1995)\n',
 '37,Across the Sea of Time (1995)\n',
 '38,It Takes Two (1995)\n',
 '39,Clueless (1995)\n',
 '40,Cry  the Beloved Country (1995)\n',
 '41,Richard III (1995)\n',
 '42,Dead Presidents (1995)\n',
 '43,Restoration (1995)\n',
 '44,Mortal Kombat (1995)\n',
 '45,To Die For (1995)\n',
 '46,How to Make an American Quilt (1995)\n',
 '47,Seven (a.k.a. Se7en) (1995)\n',
 '48,Pocahontas (1995)\n',
 '50,Usual Suspects  The (1995)\n',
 '52,Mighty Aphrodite (1995)\n',
 '54,Big Green  The (1995)\n',
 '55,Georgia (1995)\n',
 '57,Home for the Holidays (1995)\n',
 '58,Postman  The (Postino  Il) (1994)\n',
 '59,Confessional  The (Confessionnal  Le) (1995)\n',
 '60,Indian in the Cupboard  The (1995)\n',
 '61,Eye for an Eye (1996)\n',
 "62,Mr. Holland's Opus (1995)\n",
 "63,Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)\n",
 '64,Two if by Sea (1996)\n',
 '65,Bio-Dome (1996)\n',
 '66,Lawnmower Man 2: Beyond Cyberspace (1996)\n',
 '67,Two Bits (1995)\n',
 '68,French Twist (Gazon maudit) (1995)\n',
 '69,Friday (1995)\n',
 '70,From Dusk Till Dawn (1996)\n',
 '71,Fair Game (1995)\n',
 '72,Kicking and Screaming (1995)\n',
 '73,MisÌ©rables  Les (1995)\n',
 '74,Bed of Roses (1996)\n',
 '75,Big Bully (1996)\n',
 '76,Screamers (1995)\n',
 '78,Crossing Guard  The (1995)\n',
 '79,Juror  The (1996)\n',
 '80,White Balloon  The (Badkonake sefid) (1995)\n',
 "81,Things to Do in Denver When You're Dead (1995)\n",
 "82,Antonia's Line (Antonia) (1995)\n",
 '83,Once Upon a Time... When We Were Colored (1995)\n',
 '85,Angels and Insects (1995)\n',
 '86,White Squall (1996)\n',
 '87,Dunston Checks In (1996)\n',
 '88,Black Sheep (1996)\n',
 '89,Nick of Time (1995)\n',
 '92,Mary Reilly (1996)\n',
 '93,Vampire in Brooklyn (1995)\n',
 '94,Beautiful Girls (1996)\n',
 '95,Broken Arrow (1996)\n',
 '96,In the Bleak Midwinter (1995)\n',
 '97,Hate (Haine  La) (1995)\n',
 '99,Heidi Fleiss: Hollywood Madam (1995)\n',
 '100,City Hall (1996)\n',
 '101,Bottle Rocket (1996)\n',
 '102,Mr. Wrong (1996)\n',
 '103,Unforgettable (1996)\n',
 '104,Happy Gilmore (1996)\n',
 '105,Bridges of Madison County  The (1995)\n',
 '106,Nobody Loves Me (Keiner liebt mich) (1994)\n',
 '107,Muppet Treasure Island (1996)\n',
 '110,Braveheart (1995)\n',
 '111,Taxi Driver (1976)\n',
 '112,Rumble in the Bronx (Hont faan kui) (1995)\n',
 '113,Before and After (1996)\n',
 "114,Margaret's Museum (1995)\n",
 '116,Anne Frank Remembered (1995)\n',
 "117,Young Poisoner's Handbook  The (1995)\n",
 '118,If Lucy Fell (1996)\n',
 '119,Steal Big  Steal Little (1995)\n',
 '120,Race the Sun (1996)\n',
 '121,Boys of St. Vincent  The (1992)\n',
 '122,Boomerang (1992)\n',
 '123,Chungking Express (Chung Hing sam lam) (1994)\n',
 "124,Star Maker  The (Uomo delle stelle  L') (1995)\n",
 '125,Flirting With Disaster (1996)\n',
 '126,NeverEnding Story III  The (1994)\n',
 "128,Jupiter's Wife (1994)\n",
 '129,Pie in the Sky (1996)\n',
 '130,Angela (1995)\n',
 '132,Jade (1995)\n',
 '135,Down Periscope (1996)\n',
 '136,From the Journals of Jean Seberg (1995)\n',
 '138,Neon Bible  The (1995)\n',
 '140,Up Close and Personal (1996)\n',
 '141,Birdcage  The (1996)\n',
 '144,Brothers McMullen  The (1995)\n',
 '145,Bad Boys (1995)\n',
 '147,Basketball Diaries  The (1995)\n',
 '148,Awfully Big Adventure  An (1995)\n',
 '149,Amateur (1994)\n',
 '150,Apollo 13 (1995)\n',
 '151,Rob Roy (1995)\n',
 '152,Addiction  The (1995)\n',
 '153,Batman Forever (1995)\n',
 '154,Beauty of the Day (Belle de jour) (1967)\n',
 '155,Beyond Rangoon (1995)\n',
 '156,Blue in the Face (1995)\n',
 '157,Canadian Bacon (1995)\n',
 '158,Casper (1995)\n',
 '159,Clockers (1995)\n',
 '160,Congo (1995)\n',
 '161,Crimson Tide (1995)\n',
 '162,Crumb (1994)\n',
 '163,Desperado (1995)\n',
 '164,Devil in a Blue Dress (1995)\n',
 '165,Die Hard: With a Vengeance (1995)\n',
 '166,Doom Generation  The (1995)\n',
 '167,Feast of July (1995)\n',
 '168,First Knight (1995)\n',
 '169,Free Willy 2: The Adventure Home (1995)\n',
 '170,Hackers (1995)\n',
 '171,Jeffrey (1995)\n',
 '172,Johnny Mnemonic (1995)\n',
 '173,Judge Dredd (1995)\n',
 '174,Jury Duty (1995)\n',
 '175,Kids (1995)\n',
 '176,Living in Oblivion (1995)\n',
 '177,Lord of Illusions (1995)\n',
 '178,Love & Human Remains (1993)\n',
 '179,Mad Love (1995)\n',
 '180,Mallrats (1995)\n',
 '181,Mighty Morphin Power Rangers: The Movie (1995)\n',
 '182,Moonlight and Valentino (1995)\n',
 '183,Mute Witness (1994)\n',
 '184,Nadja (1994)\n',
 '185,Net  The (1995)\n',
 '186,Nine Months (1995)\n',
 '187,Party Girl (1995)\n',
 '188,Prophecy  The (1995)\n',
 '189,Reckless (1995)\n',
 '190,Safe (1995)\n',
 '191,Scarlet Letter  The (1995)\n',
 '192,Show  The (1995)\n',
 '193,Showgirls (1995)\n',
 '194,Smoke (1995)\n',
 '195,Something to Talk About (1995)\n',
 '196,Species (1995)\n',
 '197,Stars Fell on Henrietta  The (1995)\n',
 '198,Strange Days (1995)\n',
 '199,Umbrellas of Cherbourg  The (Parapluies de Cherbourg  Les) (1964)\n',
 '200,Tie That Binds  The (1995)\n',
 '201,Three Wishes (1995)\n',
 '202,Total Eclipse (1995)\n',
 '203,To Wong Foo  Thanks for Everything! Julie Newmar (1995)\n',
 '204,Under Siege 2: Dark Territory (1995)\n',
 '205,Unstrung Heroes (1995)\n',
 '206,Unzipped (1995)\n',
 '207,Walk in the Clouds  A (1995)\n',
 '208,Waterworld (1995)\n',
 "209,White Man's Burden (1995)\n",
 '210,Wild Bill (1995)\n',
 '211,Browning Version  The (1994)\n',
 '212,Bushwhacked (1995)\n',
 '213,Burnt by the Sun (Utomlyonnye solntsem) (1994)\n',
 '214,Before the Rain (Pred dozhdot) (1994)\n',
 '215,Before Sunrise (1995)\n',
 '216,Billy Madison (1995)\n',
 '218,Boys on the Side (1995)\n',
 '220,Castle Freak (1995)\n',
 '222,Circle of Friends (1995)\n',
 '223,Clerks (1994)\n',
 '224,Don Juan DeMarco (1995)\n',
 '225,Disclosure (1994)\n',
 '227,Drop Zone (1994)\n',
 '229,Death and the Maiden (1994)\n',
 '230,Dolores Claiborne (1995)\n',
 '231,Dumb & Dumber (Dumb and Dumber) (1994)\n',
 '232,Eat Drink Man Woman (Yin shi nan nu) (1994)\n',
 '233,Exotica (1994)\n',
 '234,Exit to Eden (1994)\n',
 '235,Ed Wood (1994)\n',
 '236,French Kiss (1995)\n',
 '237,Forget Paris (1995)\n',
 '238,Far From Home: The Adventures of Yellow Dog (1995)\n',
 '239,Goofy Movie  A (1995)\n',
 '240,Hideaway (1995)\n',
 '241,Fluke (1995)\n',
 '242,Farinelli: il castrato (1994)\n',
 '243,Gordy (1995)\n',
 '244,Gumby: The Movie (1995)\n',
 '246,Hoop Dreams (1994)\n',
 '247,Heavenly Creatures (1994)\n',
 '248,Houseguest (1994)\n',
 '249,Immortal Beloved (1994)\n',
 '250,Heavyweights (Heavy Weights) (1995)\n',
 '252,I.Q. (1994)\n',
 '253,Interview with the Vampire: The Vampire Chronicles (1994)\n',
 '254,Jefferson in Paris (1995)\n',
 '255,Jerky Boys  The (1995)\n',
 '256,Junior (1994)\n',
 '257,Just Cause (1995)\n',
 "258,Kid in King Arthur's Court  A (1995)\n",
 '259,Kiss of Death (1995)\n',
 '260,Star Wars: Episode IV - A New Hope (1977)\n',
 '261,Little Women (1994)\n',
 '262,Little Princess  A (1995)\n',
 '263,Ladybird Ladybird (1994)\n',
 "264,Enfer  L' (1994)\n",
 '265,Like Water for Chocolate (Como agua para chocolate) (1992)\n',
 '266,Legends of the Fall (1994)\n',
 '267,Major Payne (1995)\n',
 '268,Little Odessa (1994)\n',
 '269,My Crazy Life (Mi vida loca) (1993)\n',
 '270,Love Affair (1994)\n',
 '271,Losing Isaiah (1995)\n',
 '272,Madness of King George  The (1994)\n',
 "273,Mary Shelley's Frankenstein (Frankenstein) (1994)\n",
 '274,Man of the House (1995)\n',
 '275,Mixed Nuts (1994)\n',
 '276,Milk Money (1994)\n',
 '277,Miracle on 34th Street (1994)\n',
 '278,Miami Rhapsody (1995)\n',
 '279,My Family (1995)\n',
 '280,Murder in the First (1995)\n',
 "281,Nobody's Fool (1994)\n",
 '282,Nell (1994)\n',
 '283,New Jersey Drive (1995)\n',
 '286,Nemesis 2: Nebula (1995)\n',
 '287,Nina Takes a Lover (1994)\n',
 '288,Natural Born Killers (1994)\n',
 '289,Only You (1994)\n',
 '290,Once Were Warriors (1994)\n',
 '291,Poison Ivy II (1996)\n',
 '292,Outbreak (1995)\n',
 '293,LÌ©on: The Professional (a.k.a. The Professional) (LÌ©on) (1994)\n',
 '294,Perez Family  The (1995)\n',
 "295,Pyromaniac's Love Story  A (1995)\n",
 '296,Pulp Fiction (1994)\n',
 '297,Panther (1995)\n',
 '298,Pushing Hands (Tui shou) (1992)\n',
 '299,Priest (1994)\n',
 '300,Quiz Show (1994)\n',
 '301,Picture Bride (Bijo photo) (1994)\n',
 '302,Queen Margot (Reine Margot  La) (1994)\n',
 '303,Quick and the Dead  The (1995)\n',
 '304,Roommates (1995)\n',
 '305,Ready to Wear (Pret-A-Porter) (1994)\n',
 '306,Three Colors: Red (Trois couleurs: Rouge) (1994)\n',
 '307,Three Colors: Blue (Trois couleurs: Bleu) (1993)\n',
 '308,Three Colors: White (Trzy kolory: Bialy) (1994)\n',
 '309,Red Firecracker  Green Firecracker (Pao Da Shuang Deng) (1994)\n',
 '310,Rent-a-Kid (1995)\n',
 '312,Stuart Saves His Family (1995)\n',
 '313,Swan Princess  The (1994)\n',
 '314,Secret of Roan Inish  The (1994)\n',
 '315,Specialist  The (1994)\n',
 '316,Stargate (1994)\n',
 '317,Santa Clause  The (1994)\n',
 '318,Shawshank Redemption  The (1994)\n',
 '319,Shallow Grave (1994)\n',
 '320,Suture (1993)\n',
 '321,Strawberry and Chocolate (Fresa y chocolate) (1993)\n',
 '322,Swimming with Sharks (1995)\n',
 '324,Sum of Us  The (1994)\n',
 "325,National Lampoon's Senior Trip (1995)\n",
 '326,To Live (Huozhe) (1994)\n',
 '327,Tank Girl (1995)\n',
 '328,Tales from the Crypt Presents: Demon Knight (1995)\n',
 '329,Star Trek: Generations (1994)\n',
 '330,Tales from the Hood (1995)\n',
 '331,Tom & Viv (1994)\n',
 '332,Village of the Damned (1995)\n',
 '333,Tommy Boy (1995)\n',
 '334,Vanya on 42nd Street (1994)\n',
 '335,Underneath (1995)\n',
 '336,Walking Dead  The (1995)\n',
 "337,What's Eating Gilbert Grape (1993)\n",
 '338,Virtuosity (1995)\n',
 '339,While You Were Sleeping (1995)\n',
 '340,War  The (1994)\n',
 '341,Double Happiness (1994)\n',
 "342,Muriel's Wedding (1994)\n",
 '343,Baby-Sitters Club  The (1995)\n',
 '344,Ace Ventura: Pet Detective (1994)\n',
 '345,Adventures of Priscilla  Queen of the Desert  The (1994)\n',
 '346,Backbeat (1993)\n',
 '347,Bitter Moon (1992)\n',
 '348,Bullets Over Broadway (1994)\n',
 '349,Clear and Present Danger (1994)\n',
 '350,Client  The (1994)\n',
 '351,Corrina  Corrina (1994)\n',
 '352,Crooklyn (1994)\n',
 '353,Crow  The (1994)\n',
 '354,Cobb (1994)\n',
 '355,Flintstones  The (1994)\n',
 '356,Forrest Gump (1994)\n',
 '357,Four Weddings and a Funeral (1994)\n',
 '358,Higher Learning (1995)\n',
 '359,I Like It Like That (1994)\n',
 '360,I Love Trouble (1994)\n',
 '361,It Could Happen to You (1994)\n',
 '362,Jungle Book  The (1994)\n',
 '363,Wonderful  Horrible Life of Leni Riefenstahl  The (Macht der Bilder: Leni Riefenstahl  Die) (1993)\n',
 '364,Lion King  The (1994)\n',
 '365,Little Buddha (1993)\n',
 "366,Wes Craven's New Nightmare (Nightmare on Elm Street Part 7: Freddy's Finale  A) (1994)\n",
 '367,Mask  The (1994)\n',
 '368,Maverick (1994)\n',
 '369,Mrs. Parker and the Vicious Circle (1994)\n',
 '370,Naked Gun 33 1/3: The Final Insult (1994)\n',
 '371,Paper  The (1994)\n',
 '372,Reality Bites (1994)\n',
 '373,Red Rock West (1992)\n',
 '374,Richie Rich (1994)\n',
 '376,River Wild  The (1994)\n',
 '377,Speed (1994)\n',
 '378,Speechless (1994)\n',
 '379,Timecop (1994)\n',
 '380,True Lies (1994)\n',
 '381,When a Man Loves a Woman (1994)\n',
 '382,Wolf (1994)\n',
 '383,Wyatt Earp (1994)\n',
 '384,Bad Company (1995)\n',
 '387,Low Down Dirty Shame  A (1994)\n',
 '388,Boys Life (1995)\n',
 '390,Faster Pussycat! Kill! Kill! (1965)\n',
 "391,Jason's Lyric (1994)\n",
 '393,Street Fighter (1994)\n',
 '394,Coldblooded (1995)\n',
 '397,Fear  The (1995)\n',
 '402,Open Season (1996)\n',
 '405,Highlander III: The Sorcerer (a.k.a. Highlander: The Final Dimension) (1994)\n',
 '407,In the Mouth of Madness (1995)\n',
 '408,8 Seconds (1994)\n',
 '409,Above the Rim (1994)\n',
 '410,Addams Family Values (1993)\n',
 '411,Martin Lawrence: You So Crazy (1994)\n',
 '412,Age of Innocence  The (1993)\n',
 '413,Airheads (1994)\n',
 '414,Air Up There  The (1994)\n',
 '415,Another Stakeout (1993)\n',
 '416,Bad Girls (1994)\n',
 '417,Barcelona (1994)\n',
 '418,Being Human (1993)\n',
 '419,Beverly Hillbillies  The (1993)\n',
 '420,Beverly Hills Cop III (1994)\n',
 '421,Black Beauty (1994)\n',
 '422,Blink (1994)\n',
 '423,Blown Away (1994)\n',
 '424,Blue Chips (1994)\n',
 '425,Blue Sky (1994)\n',
 '426,Body Snatchers (1993)\n',
 '427,Boxing Helena (1993)\n',
 '428,Bronx Tale  A (1993)\n',
 '429,Cabin Boy (1994)\n',
 "431,Carlito's Way (1993)\n",
 "432,City Slickers II: The Legend of Curly's Gold (1994)\n",
 '433,Clean Slate (1994)\n',
 '434,Cliffhanger (1993)\n',
 '435,Coneheads (1993)\n',
 '436,Color of Night (1994)\n',
 '437,Cops and Robbersons (1994)\n',
 '438,Cowboy Way  The (1994)\n',
 '440,Dave (1993)\n',
 '441,Dazed and Confused (1993)\n',
 '442,Demolition Man (1993)\n',
 '443,Endless Summer 2  The (1994)\n',
 '444,Even Cowgirls Get the Blues (1993)\n',
 '445,Fatal Instinct (1993)\n',
 '446,Farewell My Concubine (Ba wang bie ji) (1993)\n',
 '447,Favor  The (1994)\n',
 '448,Fearless (1993)\n',
 '449,Fear of a Black Hat (1994)\n',
 '450,With Honors (1994)\n',
 '451,Flesh and Bone (1993)\n',
 "452,Widows' Peak (1994)\n",
 '453,For Love or Money (1993)\n',
 '454,Firm  The (1993)\n',
 '455,Free Willy (1993)\n',
 '456,Fresh (1994)\n',
 '457,Fugitive  The (1993)\n',
 '458,Geronimo: An American Legend (1993)\n',
 '459,Getaway  The (1994)\n',
 '460,Getting Even with Dad (1994)\n',
 '461,Go Fish (1994)\n',
 '462,Good Man in Africa  A (1994)\n',
 '463,Guilty as Sin (1993)\n',
 '464,Hard Target (1993)\n',
 '465,Heaven & Earth (1993)\n',
 '466,Hot Shots! Part Deux (1993)\n',
 '467,Live Nude Girls (1995)\n',
 '468,Englishman Who Went Up a Hill But Came Down a Mountain  The (1995)\n',
 '469,House of the Spirits  The (1993)\n',
 '470,House Party 3 (1994)\n',
 '471,Hudsucker Proxy  The (1994)\n',
 "472,I'll Do Anything (1994)\n",
 '473,In the Army Now (1994)\n',
 '474,In the Line of Fire (1993)\n',
 '475,In the Name of the Father (1993)\n',
 '476,Inkwell  The (1994)\n',
 "477,What's Love Got to Do with It? (1993)\n",
 '479,Judgment Night (1993)\n',
 '480,Jurassic Park (1993)\n',
 '481,Kalifornia (1993)\n',
 '482,Killing Zoe (1994)\n',
 '483,King of the Hill (1993)\n',
 '484,Lassie (1994)\n',
 '485,Last Action Hero (1993)\n',
 '486,Life with Mikey (1993)\n',
 '487,Lightning Jack (1994)\n',
 '488,M. Butterfly (1993)\n',
 '489,Made in America (1993)\n',
 '490,Malice (1993)\n',
 '491,Man Without a Face  The (1993)\n',
 '492,Manhattan Murder Mystery (1993)\n',
 '493,Menace II Society (1993)\n',
 '494,Executive Decision (1996)\n',
 '495,In the Realm of the Senses (Ai no corrida) (1976)\n',
 '496,What Happened Was... (1994)\n',
 '497,Much Ado About Nothing (1993)\n',
 '498,Mr. Jones (1993)\n',
 '499,Mr. Wonderful (1993)\n',
 '500,Mrs. Doubtfire (1993)\n',
 '501,Naked (1993)\n',
 '502,Next Karate Kid  The (1994)\n',
 '503,New Age  The (1994)\n',
 '504,No Escape (1994)\n',
 '505,North (1994)\n',
 '506,Orlando (1992)\n',
 '507,Perfect World  A (1993)\n',
 '508,Philadelphia (1993)\n',
 '509,Piano  The (1993)\n',
 '510,Poetic Justice (1993)\n',
 '511,Program  The (1993)\n',
 '512,Puppet Masters  The (1994)\n',
 '513,Radioland Murders (1994)\n',
 '514,Ref  The (1994)\n',
 '515,Remains of the Day  The (1993)\n',
 '516,Renaissance Man (1994)\n',
 '517,Rising Sun (1993)\n',
 '518,Road to Wellville  The (1994)\n',
 '519,RoboCop 3 (1993)\n',
 '520,Robin Hood: Men in Tights (1993)\n',
 '521,Romeo Is Bleeding (1993)\n',
 '522,Romper Stomper (1992)\n',
 '523,Ruby in Paradise (1993)\n',
 '524,Rudy (1993)\n',
 "527,Schindler's List (1993)\n",
 '528,Scout  The (1994)\n',
 '529,Searching for Bobby Fischer (1993)\n',
 '531,Secret Garden  The (1993)\n',
 '532,Serial Mom (1994)\n',
 '533,Shadow  The (1994)\n',
 '534,Shadowlands (1993)\n',
 '535,Short Cuts (1993)\n',
 '536,Simple Twist of Fate  A (1994)\n',
 '537,Sirens (1994)\n',
 '538,Six Degrees of Separation (1993)\n',
 '539,Sleepless in Seattle (1993)\n',
 '540,Sliver (1993)\n',
 '541,Blade Runner (1982)\n',
 '542,Son in Law (1993)\n',
 '543,So I Married an Axe Murderer (1993)\n',
 '544,Striking Distance (1993)\n',
 '546,Super Mario Bros. (1993)\n',
 '547,Surviving the Game (1994)\n',
 '548,Terminal Velocity (1994)\n',
 '549,Thirty-Two Short Films About Glenn Gould (1993)\n',
 '550,Threesome (1994)\n',
 '551,Nightmare Before Christmas  The (1993)\n',
 '552,Three Musketeers  The (1993)\n',
 '553,Tombstone (1993)\n',
 '554,Trial by Jury (1994)\n',
 '555,True Romance (1993)\n',
 '556,War Room  The (1993)\n',
 '558,Pagemaster  The (1994)\n',
 '562,Welcome to the Dollhouse (1995)\n',
 '563,Germinal (1993)\n',
 '564,Chasers (1994)\n',
 '565,Cronos (1993)\n',
 '568,Bhaji on the Beach (1993)\n',
 '569,Little Big League (1994)\n',
 '571,Wedding Gift  The (1994)\n',
 '572,Foreign Student (1994)\n',
 '573,Ciao  Professore! (Io speriamo che me la cavo) (1992)\n',
 '574,Spanking the Monkey (1994)\n',
 '575,Little Rascals  The (1994)\n',
 '576,Fausto (1993)\n',
 '577,Andre (1994)\n',
 '580,Princess Caraboo (1994)\n',
 '581,Celluloid Closet  The (1995)\n',
 '582,MÌ©tisse (CafÌ© au Lait) (1993)\n',
 '585,Brady Bunch Movie  The (1995)\n',
 '586,Home Alone (1990)\n',
 '587,Ghost (1990)\n',
 '588,Aladdin (1992)\n',
 '589,Terminator 2: Judgment Day (1991)\n',
 '590,Dances with Wolves (1990)\n',
 '592,Batman (1989)\n',
 '593,Silence of the Lambs  The (1991)\n',
 '594,Snow White and the Seven Dwarfs (1937)\n',
 '595,Beauty and the Beast (1991)\n',
 '596,Pinocchio (1940)\n',
 '597,Pretty Woman (1990)\n',
 '598,Window to Paris (Okno v Parizh) (1994)\n',
 '599,Wild Bunch  The (1969)\n',
 '600,Love and a .45 (1994)\n',
 '602,Great Day in Harlem  A (1994)\n',
 '603,Bye Bye  Love (1995)\n',
 '605,One Fine Day (1996)\n',
 '606,Candyman: Farewell to the Flesh (1995)\n',
 '608,Fargo (1996)\n',
 '609,Homeward Bound II: Lost in San Francisco (1996)\n',
 '610,Heavy Metal (1981)\n',
 '611,Hellraiser: Bloodline (1996)\n',
 '612,Pallbearer  The (1996)\n',
 '613,Jane Eyre (1996)\n',
 '614,Loaded (1994)\n',
 '615,Bread and Chocolate (Pane e cioccolata) (1973)\n',
 '616,Aristocats  The (1970)\n',
 '618,Two Much (1995)\n',
 '619,Ed (1996)\n',
 '626,Thin Line Between Love and Hate  A (1996)\n',
 '627,Last Supper  The (1995)\n',
 '628,Primal Fear (1996)\n',
 '630,Carried Away (1996)\n',
 '631,All Dogs Go to Heaven 2 (1996)\n',
 '632,Land and Freedom (Tierra y libertad) (1995)\n',
 '633,Denise Calls Up (1995)\n',
 '635,Family Thing  A (1996)\n',
 '637,Sgt. Bilko (1996)\n',
 '638,Jack and Sarah (1995)\n',
 '639,Girl 6 (1996)\n',
 '640,Diabolique (1996)\n',
 '641,Little Indian  Big City (Un indien dans la ville) (1994)\n',
 '645,Nelly & Monsieur Arnaud (1995)\n',
 '647,Courage Under Fire (1996)\n',
 '648,Mission: Impossible (1996)\n',
 '649,Cold Fever (Ì\x81 kÌ¦ldum klaka) (1995)\n',
 '650,Moll Flanders (1996)\n',
 '653,Dragonheart (1996)\n',
 '656,Eddie (1996)\n',
 '659,Purple Noon (Plein soleil) (1960)\n',

Notice that every line has an index, and a `\n`, which is an escape sequence that adds a new line (or carriage return) to text, often called a 'newline' character. We want to filter these out.

In [118]:
movie_years_big = {} # create the empty dictionary we will fill up 

for idx,line in enumerate(lines): # loop through list of lines read from textfile
    # the following line splits each string into a list of strings based on the position of the comma
    # and replaces the newline character ("\n"), with nothing ("")
    info_we_want = line.split(",")[1].replace("\n","") 
    # the following line splits each string into a list of strings based on the position of the open paranthesis
    # We select the first element of the list as the title [0], and remove the trailing space with strip()
    title = info_we_want.split("(")[0].strip()
    # We select the second element of the list as the year [1], and replace the trailing close paranthesis with nothing
    year = info_we_want.split("(")[1].replace(")","")
    # Lastly, we populate our dictionary
    movie_years_big[title] = year

In [119]:
len(movie_years_big)

8617